<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */  echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */   echo __('Additional Information') ?></span></legend>
	<div class="field linkedin_profile required">
		<label for="linkedin_profile" class="label"><span><?php /* @escapeNotVerified */
				echo __('Linkedin Profile') ?></span></label>
		<div class="control">
			<input type="text"  name="linkedin_profile" id="linkedin_profile" title="<?php /* @escapeNotVerified */
			echo __('Linkedin Profile') ?>" class="input-text" data-validate="{required:true,'validate-url':true}">
		</div>
	</div>
</fieldset>